<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CarInfors">

<!-- mybatis foreach Map("CAR_INFOR_ID_LIST",CAR_INFOR_ID_LIST) -->
      <select id="selectInUID" parameterType="Map" resultType="Map"> 
      SELECT * 
      FROM db_cars.car_infors
      where 1 = 1
      and CAR_INFOR_ID in 
      <foreach item="CAR_INFOR_ID" index="index" collection="CAR_INFOR_ID_LIST"
            open="(" separator="," close=")" nullable="true">       <!-- CAR_INFOR_ID_LIST는 postman에서 body로 값을 넘겨줄때 key값이다. -->            
             #{CAR_INFOR_ID} 
         </foreach>
      ;
      </select>
<!-- 검색 설정 -->
    <select id="selectsearch" parameterType="Map" resultType="Map"> 
    SELECT * 
    FROM db_cars.car_infors
    where 1 = 1 
     <choose> <!-- 검색 기능을 사용할때 조건에 따른 검색결과를 확인 할 수 있게 한다. when = if, when = else if, otherwise = else -->
     <when test="search == 'YEAR'"> <!-- 특수 기호를 사용할때 해당 기호를 쿼리로 인식 하게 하기 위해 쓰는 CDATA메소드임.-->
     <![CDATA[
      AND YEAR > #{words}   
      ]]>  
      </when> 
      <when test="search == 'CAR_NAME'">  
      
    
      AND CAR_NAME like CONCAT(#{words},'%')  <!-- 해당 문구는 '검색어%'형태의 쿼리문을 나타냄-->
    </when> 
     </choose>
  ;	
    </select>

 <!-- 전체 -->
    <select id="selectAll" parameterType="Map" resultType="Map"> 
    SELECT * 
    FROM project_test.commons_code
    where 1 = 1 ;	
    </select>
    
    <!-- 상세 -->
    <select id="selectByUID" parameterType="Map" resultType="Map"> 
    SELECT * 
    FROM db_cars.car_infors
    where CAR_INFOR_ID = #{CAR_INFOR_ID}	
    </select>

    <!-- 입력 -->
    <insert id="insert" parameterType="Map" >
    insert into car_infors
    (CAR_NAME,YEAR,CAR_INFOR_ID,COMPANY_ID)
    values
    (#{CAR_NAME},#{YEAR},#{CAR_INFOR_ID},#{COMPANY_ID})
    </insert>
    
    <!-- 수정 -->
    <update id="update" parameterType="Map" >
    update car_infors
    set CAR_NAME = #{CAR_NAME}
    where CAR_INFOR_ID = #{CAR_INFOR_ID}
    </update>
    
    <!-- 삭제 -->
    <delete id="delete" parameterType="Map" >
    delete from car_infors
    where CAR_INFOR_ID = #{CAR_INFOR_ID}
    </delete>

    
</mapper>